<main class="about-bg">
    <img class="logo-img" src="assets/images/r6logo.png">
    <p class="r6-mega">{{aboutPage.firstTitle}}</p>
    <p class="r6-best">{{aboutPage.secondTitle}}</p>
</main>
<main class="about2-bg">
    <h2 class="gameplay">{{aboutPage.gameplay}}</h2>
    <h3 class="play-t">{{aboutPage.players}}</h3>
    <p class="three-p">
    {{aboutPage.friends1}}<br/>
    {{aboutPage.friends2}}<br/>
    {{aboutPage.friends3}}
    </p>
    <p class="three-m">{{aboutPage.mods}}</p>
    <p class="images-p bomb-m"><img src="assets/images/bomb.png">{{aboutPage.bomb}}</p>
    <p class="images-p control-m"><img src="assets/images/control.png">{{aboutPage.control}}</p>
    <p class="images-p rescue-m"><img src="assets/images/rescue.png">{{aboutPage.rescue}}</p>
</main>