<main class="home-bg">
    <h2 class="strat">{{homePage.firstTitle}}</h2>
    <h3 class="attack-or-def">{{homePage.secondTitle}}</h3>
    <p class="op-info">{{homePage.thirdTitle}}</p>
    <button type="button" class="btn btn-primary btn-lg op-btn">{{homePage.checkOperators}}</button>
</main>
<main class="home2-bg">
    <h2 class="season">{{homePage.season}}</h2>
    <h3 class="discover">{{homePage.explore}}</h3>
    <p class="images-p new-ops green-t"><img src="assets/images/newops.png">{{homePage.newOps}}</p>
    <p class="images-p new-skins green-t"><img src="assets/images/newskins.png">{{homePage.newSkins}}</p>
    <p class="images-p new-events green-t"><img src="assets/images/newevents.png">{{homePage.newEvents}}</p>
    <p class="every-season">{{homePage.season1}}<br/>{{homePage.season2}}</p>
</main>