<main class="background-g">
  <h1 class="page-title text-center op-font text-light">{{pageTitle.title}}</h1>
  <p class="page-description text-center op-font text-light">{{pageTitle.info}}</p>
  <br/>
  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-azami [azamiOperator]="azamiOperator"></app-azami>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-thorn [thornOperator]="thornOperator"></app-thorn>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-osa [osaOperator]="osaOperator"></app-osa>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-thunderbird [thunderbirdOperator]="thunderbirdOperator"></app-thunderbird>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-flores [floresOperator]="floresOperator"></app-flores>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-aruni [aruniOperator]="aruniOperator"></app-aruni>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-zero [zeroOperator]="zeroOperator"></app-zero>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="width: 28rem;">
        <app-ace [aceOperator]="aceOperator"></app-ace>
      </div>
      </div>
      </div>
      <div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <app-operatorsfooter></app-operatorsfooter>
      </div>
</main>
